<div class="blog-top-content-holder relative">
    <div class="center-relative center-text relative page-header-title">
        <h1 class="entry-title">Get domain info</h1>

        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <form id="getinfo">
                        <div class="form-group">
                            <label for="domainName">Name</label>
                            <div class="input-group">
                                <input type="text" minlength="5" class="form-control" name="domainName" required>
                                <span class="input-group-addon bg-light text-dark px-3 rounded-right">.q</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Get info</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>

